<!DOCTYPE html>
<html>
    <head>
        <title>Example Mentor</title>
        <link rel="stylesheet" href="../public/mentorstylesheet.css">
    </head>
    <body>
        <div class="topnav">
            <a href="home.html">Mentoring App</a>
            <a class="s" href="#">Settings</a>
            <a class="s active" href="#">My Profile</a>
        </div>
        <div class="two-column-container">
            <div class="left-column">
                <h1>Mentor: Dwayne Johnson</h1>
                <img src="../public/roc17_3.jpg" alt="mentor picture">
                <h3>About Dwayne</h3>
                <p>
                    Dwayne Douglas Johnson (born May 2, 1972), also known by his ring name The Rock,
                    is an American actor and former professional wrestler. Widely regarded as one of the 
                    greatest professional wrestlers of all time, he was integral to the development and
                     success of the World Wrestling Federation (WWF, now WWE) during the Attitude Era, 
                     an industry boom period in the late 1990s and early 2000s. Johnson wrestled for 
                     the WWF for eight years prior to pursuing an acting career. His films have grossed 
                     over $3.5 billion in North America and over $10.5 billion worldwide,[8] making 
                     him one of the world's highest-grossing and highest-paid actors.
                </p>
            </div>
            <div class="right-column">
                <h2>Rate me</h2>
                <div class="rating">
                    <input type=”radio” name=”rating” value=”5″ id=”5″><label for=”5″>☆</label>
                    <input type=”radio” name=”rating” value=”4″ id=”4″><label for=”4″>☆</label>
                    <input type=”radio” name=”rating” value=”3″ id=”3″><label for=”3″>☆</label>
                    <input type=”radio” name=”rating” value=”2″ id=”2″><label for=”2″>☆</label>
                    <input type=”radio” name=”rating” value=”1″ id=”1″><label for=”1″>☆</label>
                </div>
                <h2>Available Time Slots</h2>
                <ul>
                    <li>
                        <button class="green-button" type="button">10:30</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">10:45</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">11:30</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">12:00</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">12:15</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">12:30</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">12:45</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">13:00</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">13:15</button>
                    </li>
                    <li>
                        <button class="green-button" type="button">13:30</button>
                    </li>
                </ul>
                <div class="vertical-container">
                    <button class="my-button" type="button">Book selected time slot</button>
                </div>
            </div>
        </div>
    </body>
</html>