<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/indexstylesheet.css"
    </head>
    <body>
        <div class="leftdiv">
            <h1>WELCOME TO THE MENTORING APPLICATION!</h1>
            <div class="innerdiv">
                <form action="signin"><button a="signin">SIGN IN</button></form>
                <form action="signup"><button a="signup">SIGN UP</button></form>
            </div>
        </div>
    </body>
</html>