<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/signupstylesheet.css">
    </head>
    <body>
        <h1>Create an account as a Mentor or Mentee!</h1>
        <div class="wrapper">
            <div class="leftwrapper">
                <div class="input">
                    <h3>User Type</h3>
                    <select>
                        <option>Mentor</option>
                        <option>Mentee</option>
                    </select>
                </div>
                <div class="input">
                    <h3>Gender</h3>
                    <select>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="input">
                    <h3>Language</h3>
                    <select>
                        <option>Dutch</option>
                        <option>English</option>
                        <option>Chinese</option>
                        <option>Spanish</option>
                        <option>French</option>
                        <option>Russian</option>
                        <option>Arabic</option>
                        <option>Other</option>
                    </select>
                </div>
                <div class="input">
                    <h3>Name</h3>
                    <input type="text">
                </div>
                <div class="input">
                    <h3>User ID</h3>
                    <input type="text">
                </div>
                <div class="input">
                    <h3>Password</h3>
                    <input type="text">
                </div>
                <div class="input">
                    <h3>Email</h3>
                    <input type="text">
                </div>
                <div class="input">
                    <h3>Country</h3>
                    <input type="text">
                </div>
                <div class="input">
                    <h3>ZipCode</h3>
                    <input type="text">
                </div>
            </div>
            <div class="rightwrapper">
                <h3>About Yourself</h3>
                <textarea name="" id="" cols="20" rows="3"></textarea>
                <form action="home.html">
                    <button>
                        SIGN UP
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>