<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/signinstylesheet.css">
    </head>
    <body>
        <h1>Sign in to your Mentoring Account</h1>
        <div class="signinwrapper">
            <h2>Input your credentials:</h2>
            <form action="home">
                <div class="input">
                    <h3>User:</h3>
                    <input type="text" required="required">
                </div>
                <div class="input">
                    <h3>Password:</h3>
                    <input type="text" required="required">
                </div>
                <input id="btn" type="submit">
            </form>
        </div>
    </body>
</html>