<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/homestylesheet.css">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="#">Mentoring App</a>
            <a class="s" href="#">Settings</a>
            <a class="s" href="dummyMentor">My Profile</a>
        </div>
        <div class="two-column-container">
            <div class="left-column">
                <div class="left-container">
                    <h2 id="title">Select filters to find a mentor</h2>
                    <div class="input-container">
                        <div class="input">
                            <h3>Choose a skill</h3>
                            <select>
                                <option>ADS</option>
                                <option>OOP</option>
                                <option>CO</option>
                                <option>CALC</option>
                            </select>
                        </div>
                        <div class="input">
                            <h3>Choose a rating</h3>
                            <select>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>4</option>
                            </select>
                        </div>
                        <div class="input">
                            <h3>Job Category</h3>
                            <select>
                                <option>Business</option>
                                <option>Software Development</option>
                                <option>Artificial Intelligence</option>
                                <option>Robot Maintenance</option>
                            </select>
                        </div>
                        <div class="input">
                            <h3>Choose a Company</h3>
                            <select>
                                <option>Coca Cola</option>
                                <option>Pepsi Cola</option>
                                <option>Apple</option>
                                <option>SpaceX</option>
                            </select>
                        </div>
                        <div class="input">
                            <h3>Location</h3>
                            <select>
                                <option>The Hague</option>
                                <option>Delft</option>
                                <option>Rotterdam</option>
                            </select>
                        </div>
                        <div class="input">
                            <form action="dummyMentor">
                                <button class="my-button" style="width: 200px;">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <h2 style="text-align: center; margin: 2em;">My Next Sessions</h2>
                <div class="vertical-container">
                    <button class="green-button">10:30</button>
                    <button class="green-button">10:45</button>
                    <button class="green-button">11:00</button>
                </div>
                <h2 style="text-align: center; margin: 2em;">My Chats</h2>
                <div class="vertical-container">
                    <button class="green-button">Dwayne Johnson</button>
                    <button class="green-button">Tony Stark</button>
                    <button class="green-button">Serena Williams</button>
                </div>
            </div>
        </div>
    </body>
</html>